**/testdata/bun/*.json5
**/testdata/pnpm/*.yaml
**/testdata/**/invalid.json
**/testdata/configs-invalid/*.yaml
**/testdata/locks-e2e/
internal/configer/testdata/ext-yaml-invalid/*.yaml
internal/configer/testdata/ext-yml-invalid/*.yml
