name: Semantic

on:
  schedule:
    - cron: '0 0 * * SUN'
  workflow_dispatch:
    inputs:
      filterResults:
        description: 'What comparator results the generators should print'
        required: false
        default: 'failures'
        type: choice
        options:
          - all
          - failures
          - successes
  pull_request:
    paths:
      - '.github/workflows/semantic.yml'
      - 'generators/**'
      - 'go.mod' # for now assume that any changes to this have updated osv-scalibr

# Restrict jobs in this workflow to have no permissions by default; permissions
# should be granted per job as needed using a dedicated `permissions` block
permissions: {}

env:
  VERSION_GENERATOR_PRINT: ${{ inputs.filterResults }}

jobs:
  generate-debian-versions:
    permissions:
      contents: read # to fetch code (actions/checkout)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: /tmp/debian-versions-generator-cache.csv
          key: ${{ runner.os }}-

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.13'
      - run: dpkg --version
      - run: python3 generators/generate-debian-versions.py
      - run: git status
      - run: stat debian-db.zip
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: generated-debian-versions
          path: generators/testdata/debian-versions-generated.txt

      - uses: actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: /tmp/debian-versions-generator-cache.csv
          key: ${{ runner.os }}-${{ hashFiles('debian-db.zip') }}

  generate-redhat-versions:
    permissions:
      contents: read # to fetch code (actions/checkout)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: /tmp/redhat-versions-generator-cache.csv
          key: ${{ runner.os }}-

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.13'
      - run: sudo apt install rpm
      - run: rpm --version
      - run: python3 generators/generate-redhat-versions.py
      - run: git status
      - run: stat redhat-db.zip
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: generated-redhat-versions
          path: generators/testdata/redhat-versions-generated.txt

      - uses: actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: /tmp/redhat-versions-generator-cache.csv
          key: ${{ runner.os }}-${{ hashFiles('redhat-db.zip') }}

  generate-packagist-versions:
    permissions:
      contents: read # to fetch code (actions/checkout)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # 2.35.5
        with:
          php-version: '8.2'
          extensions: zip
      - run: php generators/generate-packagist-versions.php
      - run: git status
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: generated-packagist-versions
          path: generators/testdata/packagist-versions-generated.txt

  generate-pypi-versions:
    permissions:
      contents: read # to fetch code (actions/checkout)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.13'
      - name: setup dependencies
        run: pip install packaging==21.3
      - run: python3 generators/generate-pypi-versions.py
      - run: git status
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: generated-pypi-versions
          path: generators/testdata/pypi-versions-generated.txt

  generate-rubygems-versions:
    permissions:
      contents: read # to fetch code (actions/checkout)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: ruby/setup-ruby@d5126b9b3579e429dd52e51e68624dda2e05be25 # v1.267.0
        with:
          ruby-version: '3.1'
      - name: setup dependencies
        run: gem install rubyzip
      - run: ruby generators/generate-rubygems-versions.rb
      - run: git status
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: generated-rubygems-versions
          path: generators/testdata/rubygems-versions-generated.txt

  generate-maven-versions:
    permissions:
      contents: read # to fetch code (actions/checkout)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: 17
          distribution: oracle
      - name: setup dependencies
        run: |
          mkdir -p generators/lib
          curl https://repo1.maven.org/maven2/org/json/json/20220924/json-20220924.jar \
            -o generators/lib/json-20220924.jar
          curl https://repo1.maven.org/maven2/org/apache/maven/maven-artifact/3.8.5/maven-artifact-3.8.5.jar \
            -o generators/lib/maven-artifact-3.8.5.jar
      - run: java -cp 'generators/lib/*' generators/GenerateMavenVersions.java
      - run: git status
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: generated-maven-versions
          path: generators/testdata/maven-versions-generated.txt

  generate-cran-versions:
    permissions:
      contents: read # to fetch code (actions/checkout)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: r-lib/actions/setup-r@6f6e5bc62fba3a704f74e7ad7ef7676c5c6a2590 # v2.11.4
        with:
          r-version: '3.5.3'
      - run: Rscript generators/generate-cran-versions.R
      - run: git status
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: generated-cran-versions
          path: generators/testdata/cran-versions-generated.txt

  test-semantic:
    permissions:
      contents: read # to fetch code (actions/checkout)
    runs-on: ubuntu-latest
    needs:
      - generate-debian-versions
      - generate-redhat-versions
      - generate-packagist-versions
      - generate-pypi-versions
      - generate-rubygems-versions
      - generate-maven-versions
      - generate-cran-versions
    if: always()
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: .go-version
          cache: true

      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          pattern: generated-*-versions
          path: generators/testdata/
          merge-multiple: true
      - run: git status
      - run: make test
